
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_LayoutLogin";
}




<section class="row flexbox-container">
    <div class="col-xl-4 col-11  justify-content-center">
        <div class="card bg-authentication rounded-0 mb-0">
            <div class="row m-0">

                <div class="col-lg-12 col-12 p-0">
                    <div class="card rounded-0 mb-0 px-2">
                        <div class="card-header pb-1">
                            <div class="card-title">
                                <h4 class="mb-0">Forgot Pasword?</h4>
                            </div>
                        </div>
                        <p class="px-2">Enter your email address to retrieve your account</p>
                        <div class="card-content mb-3">
                            <div class="card-body pt-1">
                                <form>
                                    <fieldset class="form-group position-relative has-icon-left">

                                        <label for="companyCode" class="mb-1 font-weight-bold">DPR Company Code</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="feather icon-user"></i></div>
                                            </div>
                                            <input type="text" class="form-control" id="companyCode" placeholder="DPR Company Code" required>
                                        </div>
                                    </fieldset>

                                   
                                    <div class="text-center mb-2">
                                        <button type="submit" class="btn btn-success btn-block btn-round btn-inline">Login</button>
                                    </div>
                                </form>
                                <div class="text-center">
                                   Go back to <a asp-action="Login" asp-controller="Home" class="text-green">Login</a>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


