
@{
    ViewData["Title"] = "Gas Shipper Licence";
    Layout = "_LayoutDashboard";
}


<style>
    .border-line {
        border: 2px solid #901d33 !important;
        padding: 6%;
    }

    .dottedUnderline {
        border-bottom: 1px dashed;
    }

    .purple {
        color: #a34cc4 !important;
    }
</style>


<div class="row">
    <div class="col-lg-12 card">
        <div class="card-body">
            <div class="col-lg-8 offset-2">
                <div class="border-line">
                    <div class="image text-center center">
                        <img src="~/app-assets/images/assets_coat_of_arms.png" height="100" />
                        <br />
                        <h3 class="text-bold-700 text-dark text-uppercase">FEDERAL REPUBLIC OF NIGERIA</h3>
                        <h5 class="text-bold-700 text-success text-uppercase">
                            MINISTRY OF PETROLEUM RESOURCES
                            DEPARTMENT OF PETROLEUM RESOURCES
                        </h5>
                        <h6 class="text-bold-700 text-dark text-uppercase mb-3">7, KOFO ABAYOMI STREET, V/ISLAND, LAGOS</h6>

                        <h4 class="text-bold-700 text-uppercase purple">NIGERIAN GAS TRANSPORTATION NETWORK CODE</h4>
                        <h5 class="text-bold-700 text-success text-uppercase">
                            GAS SHIPPER LICENSE
                        </h5>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="float-right">
                                <span>LICENSE NO:</span>&nbsp;<span>NCS0001</span>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div class="text-center center">
                                <p>This License is granted to</p>
                                <h6 class="dottedUnderline">GEREGU POWER PLANT</h6>
                                <p>(Name of Company)</p>
                                <br />
                                <div class="mb-2">
                                    <h6 class="text-bold-700 text-uppercase dottedUnderline">2, ODEN STREET LAGOS</h6>
                                    <p>(Address of Company)</p>
                                </div>

                                <p>
                                    <span>
                                        to ship Natural Gas through the
                                    </span>
                                    <span class="dottedUnderline text-dark text-bold-600"> ELPS</span>
                                    <span>
                                        Gas Transportation Pipeline
                                        with a scheduled capacity not exceeding
                                    </span>
                                    <span class="dottedUnderline text-dark text-bold-600"> 70</span>
                                    <span>MMSCFD through the Specified Network System Points accurately described in schedule 1 &2 attached </span>
                                </p>
                            </div>
                            <div>
                                <p>
                                    This License is granted pursuant to:
                                </p>
                                <ol>
                                    <li>Provisions of the Nigerian Gas Transportation Network Code and the conditions stipulated in the Code Ancillary Documents.</li>
                                    <li>Payment of prescribed Licence / Processing Fees and compliance to other requirements of the NGTNC guidelines.</li>
                                </ol>
                                <p>This license expires on the one-year anniversary of its issuance.</p>
                            </div>

                            <div class="text-center center">
                                <p>
                                    <span>DATED this:</span> &nbsp;<span class="text-bold-500 dottedUnderline">26th of July, 2020</span>
                                </p>

                                <div class="dottedUnderline mt-3">

                                </div>
                                <p>
                                    <span>For:</span><span class="text-bold-500"> Minister of Petroleum Resources</span>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

