@{
    ViewData["Title"] = "Home Page";

}


<!-- Hero section -->
    <div class="owl-carousel owl-dots-overlay owl-nav-overlay" data-owl-items="1" data-owl-nav="true" data-owl-autoPlay="true">

        <!-- Slide 3 -->
        <div class="section-fullscreen bg-image" data-bg-src="../app-assets/images/sliderimage.png">

            <div class="bg-dark-06">
                <div class="container text-center">
                    <div class="middle">
                        <div class="row">
                            <div class="col-12 col-lg-12 col-xl-12">
                                <h1 class="font-weight-medium uppercase letter-spacing-3 margin-bottom-20">Network  Code  Electronic  Licensing  and Administrative System (NCELAS)</h1>

                            </div>
                        </div><!-- end row -->
                    </div><!-- end middle -->
                </div><!-- end container -->
            </div><!-- end bg-dark-* -->
        </div>
        <!-- Slide 1 -->
        <div class="section-fullscreen bg-image" data-bg-src="../assets/images/Oil-Refinery-Twilight1.jpg">

            <div class="bg-dark-07">
                <div class="container text-center">
                    <div class="middle">
                        <div class="row">
                            <div class="col-12 col-lg-12 col-xl-12">
                                <h1 class="font-weight-medium uppercase letter-spacing-3 margin-bottom-20">Network  Code  Electronic  Licensing  and Administrative System (NCELAS)</h1>

                            </div>
                        </div><!-- end row -->
                    </div><!-- end middle -->
                </div><!-- end container -->
            </div><!-- end bg-dark-* -->
        </div>
        <!-- Slide 2 -->

        <div class="section-fullscreen bg-image" data-bg-src="../app-assets/images/petrochemical-plant.jpg">

            <div class="bg-dark-06">
                <div class="container text-center">
                    <div class="middle">
                        <div class="row">
                            <div class="col-12 col-lg-12 col-xl-12">
                                <h1 class="font-weight-medium uppercase letter-spacing-3 margin-bottom-20">Network  Code  Electronic  Licensing  and Administrative System (NCELAS)</h1>

                            </div>
                        </div><!-- end row -->
                    </div><!-- end middle -->
                </div><!-- end container -->
            </div><!-- end bg-dark-* -->
        </div>

    </div>
<!-- end Hero section -->
<!-- About section -->
<div class="section" id="about">
    <div class="container">
        <div class="row align-items-center col-spacing-50">
            <div class="col-12 col-lg-6">
                <div class="box-shadow-with-hover">
                    <img class="border-radius-05" src="../app-assets/images/DPR-MPR_building_complex.png" alt="">

                </div>
            </div>
            <div class="col-12 col-lg-6">
                <p class="font-family-secondary font-weight-medium uppercase letter-spacing-2 text-dark-04">Little About</p>
                <div class="margin-top-20 margin-bottom-30">
                    <h1>Who We Are</h1>
                    <p> NCELAS is an electronic platform established by the regulator of the Nigerian Gas Transportation Network Code (NGTNC) for the efficient processing of all licenses required for operating gas transportation arrangements within the NC regime and administration of all regulatory roles required to support the optimal performance of the NC.</p>
                    <a class="btn btn-success mt-2" href="https://www.dpr.gov.ng/nigerian-gas-transportation-network-code-ngtnc/" target="_blank">Learn More...</a>
                </div>

            </div>

        </div><!-- end row -->
    </div><!-- end container -->
</div>
<div class="section bg-light-gray" id="services">
    <div class="container">
        <div class="row align-items-center col-spacing-50">
            <div class="col-12 col-lg-5">
                <p class="font-family-secondary font-weight-medium uppercase letter-spacing-2 text-dark-04">WHAT WE DO</p>
                <div class="margin-top-20 margin-bottom-30">
                    <h1>DPR Services</h1>
                    <p>DPR has the statutory responsibility of ensuring compliance to petroleum laws, regulations and guidelines in the Oil and Gas Industry.</p>
                </div>

            </div>
            <div class="col-12 col-lg-7">
                <div class="owl-carousel owl-nav-overlap-left" data-owl-items="1" data-owl-nav="true" data-owl-dots="false" data-owl-margin="20">
                    <!-- Carousel Item 1 -->
                    <div>
                        <div class="fancy-box-1">
                            <a href="#">
                                <img src="../app-assets/images/petrochemical-plant.jpg" alt="">


                                <div class="content top-right">
                                    <h6 class="font-small font-weight-normal uppercase margin-0">Issuance</h6>
                                </div>
                            </a>
                        </div>
                        <div class="bg-white padding-30">
                            <h5 class="font-weight-normal margin-0"><a href="#">Issuance</a></h5>
                            <span class="font-small">
                                Issuance of all NC Licenses required to facilitate effective operationalization of gas transportation arrangements under the NC regime
                            </span>
                        </div>
                    </div>
                    <!-- Carousel Item 2 -->
                    <div>
                        <div class="fancy-box-1">
                            <a href="#">
                                <img src="../app-assets/images/Oil-Refinery-Twilight1.jpg" alt="">

                                <div class="content top-right">
                                    <h6 class="font-small font-weight-normal uppercase margin-0">Monitor</h6>
                                </div>
                            </a>
                        </div>
                        <div class="bg-white padding-30">
                            <h5 class="font-weight-normal margin-0"><a href="#">Monitor</a></h5>
                            <span class="font-small">
                                Monitoring of all NC licensees to ensure that operationalization of all gas transportation arrangements within the the NC regime are undertaken within the terms and the conditions of the issued licenses
                            </span>
                        </div>

                    </div>

                    <div>
                        <div class="fancy-box-1">
                            <a href="#">
                                <img src="../app-assets/images/DPR-MPR_building_complex.png" alt="" />
                                <div class="content top-right">
                                    <h6 class="font-small font-weight-normal uppercase margin-0">Provide</h6>
                                </div>
                            </a>
                        </div>
                        <div class="bg-white padding-30">
                            <h5 class="font-weight-normal margin-0"><a href="#">Provide</a></h5>
                            <span class="font-small">
                                Provide regulatory support for all gas transportation activities under the NC regime
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>


<div class="section" id="news">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-12 text-center">
                <h2>News</h2>
            </div>
        </div>
        <div class="row align-items-center col-spacing-50">

            <div class="col-lg-4">
                <div class="card" style="width: 20rem;">
                    <img src="~/app-assets/images/turned-on-pendant-lamp-132340.png" class="card-img-top" />

                    <div class="card-body">
                        <h6>REGISTER FOR THE BIGGEST ONLINE OIL & GAS EVENT OF THE YEAR</h6>
                        <p class="card-text">The Governor expressed his delight with the visit and promised to provide every necessary support for DPR’s operations in the zone.</p>
                        <a class="btn btn-success mt-1" href="https://www.dpr.gov.ng/news-updates/" target="_blank">Read More..</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" style="width: 20rem;">
                    <img src="~/app-assets/images/unnamed.jpg" class="card-img-top" />

                    <div class="card-body">
                        <h6>FG EXTENDS DEADLINE FOR MARGINAL OILFIELD BIDS TO JUNE 21</h6>
                        <p class="card-text">The visit was to interact with the Governor with a view to promoting the understanding of DPR’s regulatory role in the oil and gas.</p>
                        <a class="btn btn-success mt-1" href="https://www.dpr.gov.ng/news-updates/" target="_blank">Read More..</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card" style="width: 20rem;">
                    <img src="~/app-assets/images/DPR-MPR_building_complex.png" class="card-img-top" />
                    <img  />


                    <div class="card-body">
                        <h6>NIGERIA’S PROVEN GAS RESERVE NOW 203.16TCF, SAYS DPR</h6>
                        <p class="card-text">In line with our stakeholders engagement strategy, the Zonal Operations controller, DPR Maiduguri Mr. Ibrahim Ciroma paid a courtesy.</p>
                        <a class="btn btn-success mt-1" href="https://www.dpr.gov.ng/news-updates/" target="_blank">Read More..</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section bg-light-gray" id="faq">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-lg-12 text-center">
                <h2>FAQ</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <ul class="accordion single-open style-3 rounded mb-3 text-dark">
                    <li class="active">
                        <div class="accordion-title">
                            <h6 class="font-weight-medium text-dark">What is the Nigerian Gas Transportation Network Code (NGTNC)? </h6>
                        </div>
                        <div class="accordion-content">
                            <p>The NGTNC is a contractual framework between the Network Operator and the users that will provide open and competitive access to gas transportation infrastructure in the country.  </p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-medium text-dark">What are the NGTNC licence types and fees? </h6>
                        </div>
                        <div class="accordion-content">
                            <p>The Licence Type and fees include:</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th>License Type</th>
                                            <th>Category</th>
                                            <th>Total (N,000,000)</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Gas Transporter</td>
                                            <td>T1: Systems with capacity < 1 BSCF/D</td>
                                            <td>1,500,000</td>

                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Gas Transporter</td>
                                            <td>T2: Systems with capacity 1 - 5 BSCF/D</td>
                                            <td>2,000,000</td>

                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Gas Transporter</td>
                                            <td>T3: Systems with capacity > 5 BSCF/D</td>
                                            <td>2,500,000</td>

                                        </tr>

                                        <tr>
                                            <td>4</td>
                                            <td>Gas Shipper</td>
                                            <td>S1: Shipping capacity 1 - 30 MMSCF/D</td>
                                            <td>750,000</td>

                                        </tr>

                                        <tr>
                                            <td>5</td>
                                            <td>Gas Shipper</td>
                                            <td>S2: Shipping capacity 31 - 200 MMSCF/D</td>
                                            <td>1,500,000</td>

                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Gas Shipper</td>
                                            <td>S3: Shipping capacity > 200 MMSCF/D</td>
                                            <td>2,000,000</td>

                                        </tr>

                                        <tr>
                                            <td>7</td>
                                            <td>Network Agent</td>
                                            <td>Not Applicable</td>
                                            <td>750,000</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-medium text-dark">Can I apply for multiple licences? </h6>
                        </div>
                        <div class="accordion-content">
                            <p>Yes, Companies can apply for and obtain multiple licenses. However, a transporter cannot obtain a license to be a shipper on its own transportation pipeline.</p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-medium text-dark">How long will it take to process my licence?  </h6>
                        </div>
                        <div class="accordion-content">
                            <p>Maximum of 14 working days.</p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-medium text-dark">	How will I know when my application has been processed? </h6>
                        </div>
                        <div class="accordion-content">
                            <p>When your application has been processed, you should receive notification from the the Department. If at any time you would like to check the status of your application submission, please sign in to the portal.  </p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-medium text-dark">Can I cancel an application if I have submitted the application?   </h6>
                        </div>
                        <div class="accordion-content">
                            <p>Yes, before payment of processing fee. </p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-medium text-dark">If an application was declined, do I still pay to reapply?   </h6>
                        </div>
                        <div class="accordion-content">
                            <p>No, payment is valid for a period of one year. </p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-medium text-dark">How can I renew an existing licence?    </h6>
                        </div>
                        <div class="accordion-content">
                            <p>Existing licence holders are required to log into their account area to renew their expiring licence.</p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-medium text-dark">	How early can I renew an expiring licence?   </h6>
                        </div>
                        <div class="accordion-content">
                            <p>2 months before expiration of licence. </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6">
                <ul class="accordion single-open style-3 rounded mb-3">
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-medium text-dark">	What documents do I need to upload while applying for my licence? </h6>
                        </div>
                        <div class="accordion-content">
                            <p>The document required for application depends on the type and category of Licence been applied for. This is available on the NGTNC Portal; however, the general requirements are listed below.  </p>
                            <h6>GENERAL REQUIREMENTS </h6>
                            <p>
                                
                                It is proposed that each prospective license applicant should be required to submit the following to the Department: 
                               
                            </p>
                            <ol>
                                <li>Duly completed Application form </li>
                                <li>Evidence of payment of applicable license fee </li>
                                <li>Copies of basic company details 
                                    <ul>
                                        <li>Certificate of incorporation </li>
                                        <li>Memorandum and Articles of Association </li>
                                        <li>Tax Clearance Certificate </li>
                                    </ul>
                                </li>
                                <li>Proof of technical / commercial competence including organizational chart & staff disposition </li>
                                <li>3 years financial projections </li>
                                <li>3 years Investment Plan</li>
                            </ol>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-medium text-dark">
                                My online payment is unsuccessful, what do I do now?
                            </h6>
                        </div>
                        <div class="accordion-content">
                            <p>
                                Please check and confirm your debit card information is accurate, check if there are sufficient funds in your account for the transaction to be complete and, lastly confirm that you are still connected to the portal, then try again.
                                If you have been debited and experiencing a delay in reversal, kindly contact your bank
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-medium text-dark">Why are my documents are not uploading? </h6>
                        </div>
                        <div class="accordion-content">
                            <p>
                                Follow these steps to troubleshoot the document that you trying to upload: 
                            </p>
                            <ul>
                                <li>Check the file format of your document, it should be PDF or JPEG format only. </li>
                                <li>
                                    The file size must be a maximum of 4 Mb. Any file more than the max size will fail to upload.
                                </li>
                                <li> Also, note that the speed of your internet determines the speed of your upload.  </li>
                                <li>	Lastly, make sure your internet is uninterrupted while uploading a document   </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-medium text-dark">	I registered my account, why can't I log in? </h6>
                        </div>
                        <div class="accordion-content">
                            <p>An account activation email is automatically sent to the email address used to register your account, kindly sign into your email to validate your account by clicking the link presented in the email message for validation. Once this has been done, you will be able to log into the Portal. If the issue persists, you can do the following: </p>
                            <ul>
                                <li>If you have not received an email from the NGTNC Portal (insert email), please check your spam or junk mail folder.  </li>
                                <li>Check to ensure you are connected to the internet </li>
                                <li>Click on resend activation email link. </li>
                                <li>If you still do not get the reference mail after 20 minutes, please contact user support  </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-medium text-dark">How do I access User support?  </h6>
                        </div>
                        <div class="accordion-content">
                            <p>You can send us an email at ncelas.support@dpr.gov.ng.</p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-medium text-dark">What pipelines does the NGTNC apply to? </h6>
                        </div>
                        <div class="accordion-content">
                            <p>Currently, the NGTNC covers the Escravos Lagos Pipeline System (ELPS) and the Oben -Ajaokuta Pipelines.  </p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-medium text-dark">What happens in the event of curtailment in gas supply? </h6>
                        </div>
                        <div class="accordion-content">
                            <p> Where necessary for the purposes of Operational Balancing the Operator may curtail deliveries at System Entry Points and offtakes at System Exit Points in accordance with the provisions of the Code.  However, the DPR issues directives in respect of which the curtailment priority applies.  </p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-medium text-dark">	What happens if off spec gas is injected into the system? </h6>
                        </div>
                        <div class="accordion-content">
                            <p> NGTNC Document (Section H, paragraph 3.3) available on DPR website.  </p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-medium text-dark">How would the Network Code address issues of operational imbalances? </h6>
                        </div>
                        <div class="accordion-content">
                            <p>NGTNC Document (Section D) available on DPR website.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




<div class="section" id="contact">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-12 text-center">
                <h2>Contact Support</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-2">
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Chidinma Tanko Kunle" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" placeholder="chidinmatankokunle@mail.com" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Message</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Contact us</button>
                </form>
            </div>
        </div>
    </div>
</div>

