@{
    ViewData["Title"] = "Home Page";
   
}





<!-- Hero section -->
    <div class="owl-carousel owl-dots-overlay owl-nav-overlay" data-owl-items="1" data-owl-nav="true">
        <!-- Slide 1 -->
        <div class="section-fullscreen bg-image" data-bg-src="../assets/images/Oil-Refinery-Twilight1.jpg">

            <div class="bg-dark-07">
                <div class="container text-center">
                    <div class="middle">
                        <div class="row">
                            <div class="col-12 col-lg-12 col-xl-12">
                                <h1 class="font-weight-medium uppercase letter-spacing-3 margin-bottom-20">Network  Code  Electronic  Licensing  and Administrative Portal (NCELAP)</h1>
                               
                            </div>
                        </div><!-- end row -->
                    </div><!-- end middle -->
                </div><!-- end container -->
            </div><!-- end bg-dark-* -->
        </div>
        <!-- Slide 2 -->
       
        <div class="section-fullscreen bg-image" data-bg-src="../app-assets/images/petrochemical-plant.jpg">

            <div class="bg-dark-06">
                <div class="container text-center">
                    <div class="middle">
                        <div class="row">
                            <div class="col-12 col-lg-12 col-xl-12">
                                <h1 class="font-weight-medium uppercase letter-spacing-3 margin-bottom-20">Network  Code  Electronic  Licensing  and Administrative Portal (NCELAP)</h1>

                            </div>
                        </div><!-- end row -->
                    </div><!-- end middle -->
                </div><!-- end container -->
            </div><!-- end bg-dark-* -->
        </div>
        <!-- Slide 3 -->
        <div class="section-fullscreen bg-image" data-bg-src="../assets/images/nigerian-oil-and-non-oil-sector.jpg">

            <div class="bg-dark-06">
                <div class="container text-center">
                    <div class="middle">
                        <div class="row">
                            <div class="col-12 col-lg-12 col-xl-12">
                                <h1 class="font-weight-medium uppercase letter-spacing-3 margin-bottom-20">Network  Code  Electronic  Licensing  and Administrative Portal (NCELAP)</h1>

                            </div>
                        </div><!-- end row -->
                    </div><!-- end middle -->
                </div><!-- end container -->
            </div><!-- end bg-dark-* -->
        </div>
    </div>
<!-- end Hero section -->
<!-- About section -->
<div class="section">
    <div class="container">
        <div class="row align-items-center col-spacing-50">
            <div class="col-12 col-lg-6">
                <div class="box-shadow-with-hover">
                    <img class="border-radius-05" src="../app-assets/images/DPR-MPR_building_complex.png" alt="">
                   
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <p class="font-family-secondary font-weight-medium uppercase letter-spacing-2 text-dark-04">Little About</p>
                <div class="margin-top-20 margin-bottom-30">
                    <h1>Who We Are</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
                
            </div>

        </div><!-- end row -->
    </div><!-- end container -->
</div>
<!-- end About section -->
<!-- Blog section -->
<div class="section bg-light-gray">
    <div class="container">
        <div class="row align-items-center col-spacing-50">
            <div class="col-12 col-lg-5">
                <p class="font-family-secondary font-weight-medium uppercase letter-spacing-2 text-dark-04">WHAT WE DO</p>
                <div class="margin-top-20 margin-bottom-30">
                    <h1>Our Services</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                </div>
                
            </div>
            <div class="col-12 col-lg-7">
                <div class="owl-carousel owl-nav-overlap-left" data-owl-items="1" data-owl-nav="true" data-owl-dots="false" data-owl-margin="20">
                    <!-- Carousel Item 1 -->
                    <div>
                        <div class="fancy-box-1">
                            <a href="#">
                                <img src="../app-assets/images/petrochemical-plant.jpg" alt="">

                               
                                <div class="content top-right">
                                    <h6 class="font-small font-weight-normal uppercase margin-0">Regulate</h6>
                                </div>
                            </a>
                        </div>
                        <div class="bg-white padding-30">
                            <h5 class="font-weight-normal margin-0"><a href="#">Regulation</a></h5>
                            <span class="font-small">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

                            </span>
                        </div>
                    </div>
                    <!-- Carousel Item 2 -->
                    <div>
                        <div class="fancy-box-1">
                            <a href="#">
                                <img src="../assets/images/business-1-about.jpg" alt="">
                                <div class="content top-right">
                                    <h6 class="font-small font-weight-normal uppercase margin-0">Inspiration</h6>
                                </div>
                            </a>
                        </div>
                        <div class="bg-white padding-30 text-center">
                            <h5 class="font-weight-normal margin-0"><a href="#">Effectively Lead your Team</a></h5>
                            <span class="font-small">Feb 6, 2020</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>
<!-- end Blog section -->
<!-- Testimonial section -->
<div class="section-xl bg-image parallax-bg" data-bg-src="../app-assets/images/man-sitting-in-front-of-keyboard-2422278.png">
   
    <div class="bg-dark-07">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 text-right">
                    <a class="btn btn-success btn-lg">Talk to us</a>
                </div>
            </div>
        </div><!-- end container -->
    </div>
</div>
<!-- end Testimonial section -->
<!-- Accordion section -->
<div class="section-lg padding-bottom-0 mb-5">
    <div class="container">
        <div class="row align-items-center col-spacing-50">

            <div class="col-12 col-lg-6 order-lg-1">
                <ul class="accordion single-open style-3 rounded mb-3">
                    <li class="active">
                        <div class="accordion-title">
                            <h6 class="font-weight-medium">First Question?</h6>
                        </div>
                        <div class="accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-medium">Second Question?</h6>
                        </div>
                        <div class="accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-title">
                            <h6 class="font-weight-medium">Third Question?</h6>
                        </div>
                        <div class="accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        </div>
                    </li>
                </ul>

                <button class="btn btn-success mt-3">More FAQs</button>

            </div>
            <div class="col-12 col-lg-6 order-lg-2">
                <img class="box-shadow-with-hover border-radius-05" src="../app-assets/images/turned-on-pendant-lamp-132340.png" alt="">
                
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>
<!-- end Accordion section -->
