
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_LayoutRegister";
}




<section class="row flexbox-container" ng-controller="passwordResetPageCtrl">
    <div class="col-xl-4 col-11  justify-content-center">
        <div class="card bg-authentication rounded-0 mb-0">
            <div class="row m-0">

                <div class="col-lg-12 col-12 p-0">
                    <div class="card rounded-0 mb-0 px-2">
                        <div class="card-header pb-1">
                            <div class="card-title">
                                <h4 class="mb-0">Forgot Pasword?</h4>
                            </div>
                        </div>
                        <hr />
                        
                        <div class="card-content mb-3" ng-hide="hideContent">
                            <div class="card-body pt-1">
                                <form>
                                    <div ng-show="showEmailInputDiv">
                                        <p class="px-2">Enter your email address to retrieve your account</p>
                                        <fieldset class="form-group ">
                                            <label class="mb-1 font-weight-bold">Email Address</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text"><i class="feather icon-mail"></i></div>
                                                </div>
                                                <input type="text" class="form-control" ng-model="emailModel.Value" id="email" placeholder="">
                                            </div>
                                        </fieldset>

                                        <fieldset class="form-group" ng-show="emailAddresExist">
                                            <label for="companyCode" class="mb-1 font-weight-bold">6-digit Activation Code</label>
                                            <div class="input-group">
                                                <input type="text" maxlength="6" class="form-control" ng-model="activationCode" placeholder="">
                                            </div>
                                        </fieldset>

                                        <div class="text-center mb-2">
                                            <button type="submit" ng-disabled="emailModel.Value === '' || busy" class="btn btn-success btn-block btn-round btn-inline" ng-click="emailCheck()">
                                                {{ buttonText }}
                                            </button>
                                        </div>
                                    </div>


                                    <div ng-show="activationCodeSent">
                                        <div class="text-center" style="color:green">
                                            A 6-digit code has just been sent to {{emailModel.Value}}
                                        </div>
                                        <fieldset class="form-group ">
                                            <label for="companyCode" class="mb-1 font-weight-bold">Activation Code</label>
                                            <div class="input-group">
                                                <input type="text" id="activationCode" maxlength="6" class="form-control" ng-model="activationCode" placeholder="">
                                            </div>
                                            @*<span style="font-size:11px" class="text-center">At least 8 characters (At least an alphabet, a number and a special character)</span>*@
                                        </fieldset>

                                        <div class="text-center mb-2">
                                            <button type="submit" ng-disabled="activationCodeResponse.activationCode !== activationCode" class="btn btn-success btn-block btn-round btn-inline" ng-click="showPassResetForm()">
                                                Proceed
                                            </button>
                                        </div>
                                    </div>

                                    <div ng-show="activationCodeValid">
                                        <fieldset class="form-group ">
                                            <label for="companyCode" class="mb-1 font-weight-bold">New Password</label>
                                            <div class="input-group">
                                                <input type="password" id="userPassword" maxlength="12" class="form-control" ng-model="newpassword" placeholder="">
                                            </div>
                                            <span style="font-size:11px" class="text-center">At least 8 characters (At least an alphabet, a number and a special character)</span>
                                            <div id="strength" ng-show="newpassword !== ''">
                                                <span class="result"></span>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group ">
                                            <label for="companyCode" class="mb-1 font-weight-bold">Repeat Password</label>
                                            <div class="input-group">
                                                <input type="password" maxlength="12" class="form-control" ng-model="confirmnewpassword" placeholder="">
                                            </div>
                                        </fieldset>
                                        <div class="text-center mb-2">
                                            <button type="submit" class="btn btn-success btn-block btn-round btn-inline" 
                                                    ng-disabled="passwordok === false || newpassword !== confirmnewpassword || 
                                                    newpassword === '' || confirmnewpassword === ''"
                                                    ng-click="resetNcelasUserPassword()">Reset Password
                                            </button>
                                        </div>
                                    </div>

                                    
                                    <div class="text-center" style="color: red" ng-show="emaildoesnotexist">
                                        Invalid Email address!
                                    </div>

                                    <div class="row text-center" ng-show="busy" style="padding-top: 10px">
                                        <div class="col col-12">
                                            <div class="spinner-border"></div>
                                        </div>
                                    </div>
                                </form>
                                <div class="text-left">
                                    Go back to <a href="/account/login" class="text-green">Login</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section footerJS{
    <script src="~/js/controllers/account/passwordreset.js"></script>
}
