@{
    Layout = "_LayoutRegister";
    ViewData["Title"] = "Register Business Account";
}
<div ng-controller="registrationPageCtrl">
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container">
                    <div class="col-xl-8 col-lg-8 col-10" style="padding-top: 20px; padding-bottom: 20px;">
                        <div class="card bg-authentication rounded-0 mb-0">
                            <div class="row m-0">
                                @*<div class="col-lg-6 d-lg-block d-none text-center align-self-center pl-0 pr-3 py-0">
                                        <img src="../../../app-assets/images/pages/register.jpg" alt="branding logo">
                                    </div>*@
                                <div class="col-lg-12 col-12 p-0">
                                    <div class="card rounded-0 mb-0 p-2">
                                        <div class="card-header pt-50 pb-1">
                                            <div class="card-title">
                                                <h4 class="card-title">Register Business</h4>
                                            </div>
                                        </div>
                                        <span class="px-2">Fill the below form to create a new account.</span>
                                        <hr />
                                        <div class="card-content">
                                            <div class="card-body pt-0">
                                                <div class="row">
                                                    <div class="col col-12">
                                                        <div class="card">
                                                            <div class="card-content">
                                                                <div class="card-body" style="padding: 0.6rem">
                                                                    <form name="businessRegistrationForm" novalidate>
                                                                        <div class="accordion" id="accordionExample0">
                                                                            <div class="collapse-border-item collapse-header card collapse-bordered">
                                                                                <div class="card-header" id="heading200" data-toggle="collapse" role="button" data-target="#collapse200"
                                                                                     aria-expanded="true" aria-controls="collapse200">
                                                                                    <span class="lead collapse-title">
                                                                                        <strong>Business Information</strong>
                                                                                    </span>
                                                                                </div>

                                                                                <div id="collapse200" class="collapse show" aria-labelledby="heading200" data-parent="#accordionExample0">
                                                                                    <div class="card-body">
                                                                                        <div class="row rowPadding">
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="businessName">
                                                                                                        <span>Business Name<span class="text-danger">*</span></span>
                                                                                                    </label>
                                                                                                    <input type="text" maxlength="60" id="businessName" ng-model="registrationInformationModel.BusinessName" name="BusinessName" class="form-control formcontrolpadding" required />
                                                                                                    <span class="text-danger text-small" ng-show="businessRegistrationForm.BusinessName.$touched && businessRegistrationForm.BusinessName.$invalid">
                                                                                                        <span ng-show="businessRegistrationForm.BusinessName.$error.required">Business Name is required.</span>
                                                                                                    </span>
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="inputEmail">
                                                                                                        <span>Email Address<span class="text-danger">*</span></span>
                                                                                                    </label>
                                                                                                    <input type="email" maxlength="30" ng-model="registrationInformationModel.Email" name="Email" id="inputEmail" class="form-control {{ emailExist }}" required>
                                                                                                    <span class="text-danger text-small" ng-show="businessRegistrationForm.Email.$touched && businessRegistrationForm.Email.$invalid">
                                                                                                        <span ng-show="businessRegistrationForm.Email.$error.required">Email is required.</span>
                                                                                                    </span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="row rowPadding">
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="inputTelePhone">
                                                                                                        <span>Telephone<span class="text-danger">*</span></span>
                                                                                                    </label>
                                                                                                    <input type="text" maxlength="15" name="Telephone" ng-model="registrationInformationModel.Telephone" value="+234" id="inputTelePhone" class="form-control" required>

                                                                                                    <span class="text-danger text-small" ng-show="businessRegistrationForm.Telephone.$touched && businessRegistrationForm.Telephone.$invalid">
                                                                                                        <span ng-show="businessRegistrationForm.Telephone.$error.required">Telephone is required.</span>
                                                                                                    </span>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="inputMobile">
                                                                                                        <span>Mobile<span class="text-danger">*</span></span>
                                                                                                    </label>
                                                                                                    <input type="text" maxlength="15" ng-model="registrationInformationModel.Mobile" value="+234" id="inputMobile" name="Mobile" class="form-control" required>
                                                                                                    <span class="text-danger text-small" ng-show="businessRegistrationForm.Mobile.$touched && businessRegistrationForm.Mobile.$invalid">
                                                                                                        <span ng-show="businessRegistrationForm.Mobile.$error.required">Mobile is required.</span>
                                                                                                    </span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="row rowPadding">
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <label for="inputPostalCode">
                                                                                                    <span>Postal Code</span>
                                                                                                </label>
                                                                                                <div class="form-group">
                                                                                                    <input type="text" maxlength="15" ng-model="registrationInformationModel.PostalCode" id="inputPostalCode" class="form-control">
                                                                                                </div>

                                                                                            </div>

                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="webAddress">
                                                                                                        <span>Web Address</span>
                                                                                                    </label>
                                                                                                    <input type="url" maxlength="50" ng-model="registrationInformationModel.WebAddress" value="https://www." id="webAddress" class="form-control">
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="row rowPadding">
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="addressLocation">
                                                                                                        <span>Address<span class="text-danger">*</span></span>
                                                                                                    </label>
                                                                                                    <textarea maxlength="100" rows="4" id="addressLocation" class="form-control" required></textarea>

                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="legalStatus">
                                                                                                        <span>Legal Status of Applicant<span class="text-danger">*</span></span>
                                                                                                    </label>
                                                                                                    <select ng-change="evaluateLegalStatusSelection()" ng-model="registrationInformationModel.CompanyLegalStatus" class="form-control" id="legalStatus">
                                                                                                        <option value="">-- Select --</option>
                                                                                                        <option ng-repeat="legalStatus in legalStatuses" value="{{ legalStatus.Value }}">{{ legalStatus.Name }}</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                                <div class="form-group" ng-show="registrationInformationModel.CompanyLegalStatus === 'Others'">
                                                                                                    <input ng-model="OtherLegalStatus" type="text" placeholder="Enter Legal Status" class="form-control" />
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="row">
                                                                                                <div class="col col-12">

                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="collapse-border-item card collapse-header">
                                                                                <div class="card-header" id="heading210" data-toggle="collapse" role="button" data-target="#listOfDirectors"
                                                                                     aria-expanded="false" aria-controls="listOfDirectors">
                                                                                    <span class="lead collapse-title">
                                                                                        <strong>List & Particulars of Shareholders</strong>
                                                                                    </span>
                                                                                </div>
                                                                                <div id="listOfDirectors" class="collapse" aria-labelledby="listOfDirectors" data-parent="#accordionExample0">
                                                                                    <div class="card-body">
                                                                                        <div class="row">
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="ShareHolderName">
                                                                                                        <span>Name<span class="text-danger">*</span></span>
                                                                                                    </label>
                                                                                                    <input type="text" maxlength="50" ng-model="shareHolderModel.Name" id="ShareHolderName" class="form-control">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="ShareHolderNationality">
                                                                                                        <span>Nationality<span class="text-danger">*</span></span>
                                                                                                    </label>
                                                                                                    <input type="text" maxlength="50" ng-model="shareHolderModel.Nationality" id="ShareHolderNationality" class="form-control">
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="row">
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="ShareHolderCountryOfUsualResidence">
                                                                                                        <span>Country Of Usual Residence<span class="text-danger">*</span></span>
                                                                                                    </label>
                                                                                                    <select class="form-control" ng-model="shareHolderModel.CountryOfUsualResidence" id="ShareHolderCountryOfUsualResidence">
                                                                                                        <option value="">-- Select --</option>
                                                                                                        <option ng-repeat="country in countries"> {{ country.name }} </option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="ShareHolderAddress">
                                                                                                        <span>Address</span>
                                                                                                    </label>
                                                                                                    <textarea maxlength="100" rows="4" id="ShareHolderAddress" class="form-control" required></textarea>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="row">
                                                                                            <div class="col col-12">
                                                                                                <button ng-disabled="shareHolderModel.Name === '' || shareHolderModel.Nationality === '' || shareHolderModel.CountryOfUsualResidence ===''"
                                                                                                        ng-click="addShareholder()" class="btn btn-success float-right">
                                                                                                    <i class="fa fa-user-plus"></i> Add
                                                                                                </button>
                                                                                            </div>
                                                                                        </div>
                                                                                        <br />
                                                                                        <div class="row" ng-show="shareholders.length > 0">
                                                                                            <div class="col col-12">
                                                                                                <table class="table table-hover table-bordered" id="sampleTable" style="font-size: 14px">
                                                                                                    <thead>
                                                                                                        <tr>
                                                                                                            <th>Name</th>
                                                                                                            <th>Nationality</th>
                                                                                                            <th>Country of Residence</th>
                                                                                                            <th>Address</th>
                                                                                                            <th>Actions</th>
                                                                                                        </tr>
                                                                                                    </thead>
                                                                                                    <tr ng-repeat="shareholder in shareholders">
                                                                                                        <td>{{ shareholder.Name }}</td>
                                                                                                        <td>{{ shareholder.Nationality }}</td>
                                                                                                        <td>{{ shareholder.CountryOfUsualResidence }}</td>
                                                                                                        <td>{{ shareholder.Address }}</td>
                                                                                                        <td>
                                                                                                            <button ng-click="removeShareholder(shareholder)" class="btn btn-danger btn-md"><i class="fa fa-trash"></i></button>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="collapse-border-item card collapse-header">
                                                                                <div class="card-header" id="heading210" data-toggle="collapse" role="button" data-target="#collapse210"
                                                                                     aria-expanded="false" aria-controls="collapse210">
                                                                                    <span class="lead collapse-title">
                                                                                        <strong> Authorized Representative</strong>
                                                                                    </span>
                                                                                </div>
                                                                                <div id="collapse210" class="collapse" aria-labelledby="heading210" data-parent="#accordionExample0">
                                                                                    <div class="card-body">
                                                                                        <div class="row">
                                                                                            <div class="col col-12">
                                                                                                <div class="alert alert-primary" role="alert">
                                                                                                    <i class="feather icon-info mr-1 align-middle"></i>
                                                                                                    <span>
                                                                                                        Please Note: Upon Verification of the Business's identity, the details of the
                                                                                                        authorized representative will be used to provision the administrator account for {{ registrationInformationModel.BusinessName }}.
                                                                                                    </span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="row">
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="AuthorizedRepName">
                                                                                                        <span>Name of Authorized Representative<span class="text-danger">*</span></span>
                                                                                                    </label>
                                                                                                    <input type="text" maxlength="50" ng-model="registrationInformationModel.AuthorizedRepName" id="AuthorizedRepName" class="form-control">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="AuthorizedRepEmail">
                                                                                                        <span>Email<span class="text-danger">*</span></span>
                                                                                                    </label>
                                                                                                    <input type="email" maxlength="50" ng-model="registrationInformationModel.AuthorizedRepEmail" id="AuthorizedRepEmail" class="form-control">
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="row">
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="AuthorizedRepMobile">
                                                                                                        <span>Mobile<span class="text-danger">*</span></span>
                                                                                                    </label>
                                                                                                    <input type="text" maxlength="40" ng-model="registrationInformationModel.AuthorizedRepMobile" id="AuthorizedRepMobile" class="form-control">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="addressAuthorizedRepresentative">
                                                                                                        <span>Address</span>
                                                                                                    </label>
                                                                                                    <textarea maxlength="100" rows="4" id="addressAuthorizedRepresentative" class="form-control" required></textarea>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="collapse-border-item card collapse-header">
                                                                                <div class="card-header" id="heading250" data-toggle="collapse" role="button" data-target="#authorizedRepresentative"
                                                                                     aria-expanded="false" aria-controls="authorizedRepresentative">
                                                                                    <span class="lead collapse-title">
                                                                                        <strong> List & Particular of Directors</strong>
                                                                                    </span>
                                                                                </div>
                                                                                <div id="authorizedRepresentative" class="collapse" aria-labelledby="heading250" data-parent="#accordionExample0">
                                                                                    <div class="card-body">
                                                                                        <div class="row">
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="DirectorName">
                                                                                                        <span>Name<span class="text-danger">*</span></span>
                                                                                                    </label>
                                                                                                    <input type="text" maxlength="50" ng-model="directorModel.Name" id="DirectorName" class="form-control">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="DirectorNationality">
                                                                                                        <span>Nationality<span class="text-danger">*</span></span>
                                                                                                    </label>
                                                                                                    <input type="text" maxlength="50" ng-model="directorModel.Nationality" id="DirectorNationality" class="form-control">
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="row">
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="DirectorCountryOfUsualResidence">
                                                                                                        <span>Country Of Usual Residence<span class="text-danger">*</span></span>
                                                                                                    </label>
                                                                                                    <select class="form-control" ng-model="directorModel.CountryOfUsualResidence" id="DirectorCountryOfUsualResidence">
                                                                                                        <option value="">-- Select --</option>
                                                                                                        <option ng-repeat="country in countries"> {{ country.name }} </option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="DirectorAddress">
                                                                                                        <span>Address</span>
                                                                                                    </label>
                                                                                                    <textarea maxlength="100" rows="4" id="DirectorAddress" class="form-control" required></textarea>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="row">
                                                                                            <div class="col col-12">
                                                                                                <button ng-disabled="directorModel.Name === '' || directorModel.Nationality === '' || directorModel.CountryOfUsualResidence ===''"
                                                                                                        ng-click="addDirector()" class="btn btn-success float-right">
                                                                                                    <i class="fa fa-user-plus"></i> Add
                                                                                                </button>
                                                                                            </div>
                                                                                        </div>
                                                                                        <hr />
                                                                                        <h5>State if any Director has ever been convicted of any criminal offence in Nigeria or in any other country:</h5>
                                                                                        <div class="row">
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="DirectorCriminalAct">
                                                                                                        <span>Convicted  of Criminal Act</span>
                                                                                                    </label>
                                                                                                    <select class="form-control" ng-model="registrationInformationModel.DirectorCriminalAct" id="DirectorCriminalAct">
                                                                                                        <option value="">-- Select --</option>
                                                                                                        <option ng-repeat="convictedAct in convictedActs"> {{ convictedAct.Name }} </option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="DirectorCriminalActDetailsfConviction">
                                                                                                        <span>Details of Conviction</span>
                                                                                                    </label>
                                                                                                    <textarea maxlength="100" rows="4" id="DirectorCriminalActDetailsfConviction" class="form-control" required></textarea>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row" ng-show="directors.length > 0">
                                                                                            <div class="col col-12">
                                                                                                <table class="table table-hover table-bordered" id="sampleTable" style="font-size: 14px">
                                                                                                    <thead>
                                                                                                        <tr>
                                                                                                            <th>Name</th>
                                                                                                            <th>Nationality</th>
                                                                                                            <th>Country of Residence</th>
                                                                                                            <th>Address</th>
                                                                                                            <th>Actions</th>
                                                                                                        </tr>
                                                                                                    </thead>
                                                                                                    <tr ng-repeat="director in directors">
                                                                                                        <td>{{ director.Name }}</td>
                                                                                                        <td>{{ director.Nationality }}</td>
                                                                                                        <td>{{ director.CountryOfUsualResidence }}</td>
                                                                                                        <td>{{ director.Address }}</td>
                                                                                                        <td>
                                                                                                            <button ng-click="removeDirector(director)" class="btn btn-danger btn-md"><i class="fa fa-trash"></i></button>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="card collapse-header collapse-border-item">
                                                                                <div class="card-header" id="heading220" data-toggle="collapse" role="button" data-target="#collapse220"
                                                                                     aria-expanded="false" aria-controls="collapse220">
                                                                                    <span class="lead collapse-title">
                                                                                        <strong>Supporting Documents</strong>
                                                                                    </span>
                                                                                </div>
                                                                                <div id="collapse220" class="collapse" aria-labelledby="heading220" data-parent="#accordionExample0">
                                                                                    <div class="card-body">
                                                                                        <div class="row">
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <fieldset class="form-group">
                                                                                                    <label for="certificateOfRegistration">
                                                                                                        Certificate Of Registration <span class="text-danger">*</span><span class="text-sm"> (pdf files only)</span>
                                                                                                    </label>
                                                                                                    <div class="custom-file">
                                                                                                        <input type="file" class="form-control" onchange="angular.element(this).scope().certificateOfRegistrationFileHandler()" name="Attachment" id="certificateOfRegistration" ng-required="true" accept=".pdf">
                                                                                                    </div>
                                                                                                    <div class="text-danger text-sm" id="certificateOfRegistrationWarningIndicator"></div>
                                                                                                </fieldset>

                                                                                            </div>
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <fieldset class="form-group">
                                                                                                    <label for="certificateOfIncorporation">
                                                                                                        Certificate of Incorporation <span class="text-danger">*</span><span class="text-sm"> (pdf files only)</span>
                                                                                                    </label>
                                                                                                    <div class="custom-file">
                                                                                                        <input accept=".pdf" class="form-control" onchange="angular.element(this).scope().certificateOfIncorporationFileHandler()" type="file" id="certificateOfIncorporation">
                                                                                                    </div>
                                                                                                    <div class="text-danger text-sm" id="certificateOfIncorporationWarningIndicator"></div>
                                                                                                </fieldset>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="row">
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <fieldset class="form-group">
                                                                                                    <label for="memorandumAndArticlesOfAssociation">
                                                                                                        Memorandum & Articles Of Association <span class="text-danger">*</span><span class="text-sm"> (pdf files only)</span>
                                                                                                    </label>
                                                                                                    <div class="custom-file">
                                                                                                        <input accept=".pdf" class="form-control" onchange="angular.element(this).scope().memorandumOfAssociationFileHandler()" type="file" id="memorandumOfAssociation">
                                                                                                    </div>
                                                                                                    <div class="text-danger text-sm" id="memorandumOfAssociationIndicator"></div>
                                                                                                </fieldset>
                                                                                            </div>
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <fieldset class="form-group">
                                                                                                    <label for="deedOfPartnership">
                                                                                                        Deed Of Partnership<span class="text-danger">*</span><span class="text-sm"> (pdf files only)</span>
                                                                                                    </label>
                                                                                                    <div class="custom-file">
                                                                                                        <input accept=".pdf" class="form-control" onchange="angular.element(this).scope().deedOfPartnershipFileHandler()" type="file" id="deedOfPartnership">
                                                                                                        <div class="text-danger text-sm" id="deedOfPartnershipIndicator"></div>
                                                                                                    </div>
                                                                                                </fieldset>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col col-lg-6 col-xl-6 col-12">
                                                                                                <fieldset class="form-group">
                                                                                                    <label for="deedOfTrust">
                                                                                                        Deed Of Trust<span class="text-danger">*</span><span class="text-sm"> (pdf files only)</span>
                                                                                                    </label>
                                                                                                    <div class="custom-file">
                                                                                                        <input accept=".pdf" class="form-control" onchange="angular.element(this).scope().deedOfTrustFileHandler()" type="file" id="deedOfTrust">
                                                                                                        <div class="text-danger text-sm" id="deedOfTrustIndicator"></div>
                                                                                                    </div>
                                                                                                </fieldset>
                                                                                            </div>

                                                                                        </div>
                                                                                        <hr />
                                                                                        <div class="row">
                                                                                            <div class="col col-12 text-center">
                                                                                                <button ng-show="processing === false" ng-click="saveBusinessAccountInformation()"
                                                                                                        class="btn btn-success"
                                                                                                        ng-disabled="registrationInformationModel.BusinessName === '' || registrationInformationModel.Email === '' || registrationInformationModel.Telephone === '' ||
                                                                                                            registrationInformationModel.Mobile === '' || registrationInformationModel.CompanyLegalStatus === '' ||
                                                                                                            registrationInformationModel.AuthorizedRepName ==='' || registrationInformationModel.AuthorizedRepEmail === '' || registrationInformationModel.AuthorizedRepMobile === ''">
                                                                                                    <i class="fa fa-pencil"></i> Register
                                                                                                </button>
                                                                                                <button ng-show="processing" class="btn btn-success"><div class="spinner-border"></div> Processing...</button>
                                                                                                <a href="/" class="btn btn-primary"><i class="fa fa-home"></i> Back to Homepage</a>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- END: Content-->
</div>

@section footerJS{

    <script src="~/js/controllers/account/registration.js"></script>
    <script src="~/Template/app-assets/vendors/js/vendors.min.js"></script>
    <script src="~/Template/app-assets/js/core/app-menu.min.js"></script>
    <script src="~/Template/app-assets/js/core/app.min.js"></script>
    <script src="~/Template/app-assets/js/scripts/components.min.js"></script>
    @*<script src="~/Template/app-assets/js/scripts/forms/wizard-steps.min.js"></script>*@
}
