
@{
    ViewData["Title"] = "Create User Account";
    Layout = "_LayoutDashboard";
}


<main ng-controller="usersCreateCtrl">
    <section id="floating-label-layouts">
        <div class="row match-height">
            <div class="col-md-6 col-12">
                <div class="card" style="height:auto;">
                    <div class="card-header">
                        <h4 class="card-title">Create User Account</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form" name="createUserForm" novalidate>
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-label-group">
                                                <input type="text" ng-model="userCreateFormModel.Name" id="full-name-floating" class="form-control" placeholder="Full Name" name="fname-floating">
                                                <label for="full-name-floating">Full Name</label>
                                            </div>
                                        </div>
                                        <div class="col-12" style="margin-bottom: 8px">
                                            <div class="form-label-group">
                                                <input type="email" ng-blur="emailCheck()" ng-model="userCreateFormModel.Email" id="email-floating" class="form-control" name="email-floating" placeholder="Email">
                                                <label for="email-floating">Email</label>
                                            </div>
                                            <div ng-show="verifyingEmail" class="spinner-border text-success" style="height: 1.4rem; width: 1.4rem"> </div> <span ng-show="verifyingEmail"> Verifying email addess...</span>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-label-group">
                                                <input type="text" ng-model="userCreateFormModel.Department" id="department-floating" class="form-control" name="department-floating" placeholder="Department">
                                                <label for="department-floating">Department</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button ng-disabled="userCreateFormModel.Name === '' || userCreateFormModel.Email === '' || userCreateFormModel.Department === ''"
                                                    class="btn btn-primary mr-1 mb-1 waves-effect waves-light" ng-click="createUserAccount()">
                                                Create Account
                                            </button>
                                            <button type="reset" class="btn btn-outline-warning mr-1 mb-1 waves-effect waves-light">Reset</button>
                                            <button type="reset" ng-click="toastr()" class="btn btn-outline-warning mr-1 mb-1 waves-effect waves-light">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>

@section footerJS{
    <script src="~/js/controllers/users/create.js"></script>
    <script src="~/Template/app-assets/vendors/js/vendors.min.js"></script>
    <script src="~/Template/app-assets/js/core/app-menu.min.js"></script>
    @*<script src="~/Template/app-assets/js/core/app.min.js"></script>*@
    <script src="~/Template/app-assets/js/scripts/components.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/extensions/toastr.min.js"></script>
    <script src="~/Template/app-assets/js/scripts/extensions/toastr.min.js"></script>

}