@{
    ViewData["Title"] = "User Accounts";
    Layout = "_LayoutDashboard";
}
<main ng-controller="usersListCtrl">
    <h1>Users</h1>
</main>

@section footerJS{
    <script src="~/js/controllers/users/index.js"></script>
    <script src="~/Template/app-assets/vendors/js/vendors.min.js"></script>
    <script src="~/Template/app-assets/js/core/app-menu.min.js"></script>
    <script src="~/Template/app-assets/js/core/app.min.js"></script>
    <script src="~/Template/app-assets/js/scripts/components.min.js"></script>
}