<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">Dashboard</h2>
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a>Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a ui-sref="site.users.index">Support Tickets</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Zero configuration table -->
<section id="basic-datatable" waiting="{{waiting}}">
    <div class="row">
        <div class="col col-lg-7 col-xl-7 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Create Support Ticket</h4>

                </div>
                <hr />
                <div class="card-content">
                    <div class="card-body card-dashboard">
                        <form class="form" name="createSupportTicketForm" novalidate>
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="department">Subject<span class="text-danger">*</span></label>
                                            <input type="text" ng-model="ticketModel.Subject" id="subject" class="form-control" name="Subject">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12" style="margin-bottom: 8px">
                                        <div class="form-group">
                                            <label for="email">Priority<span class="text-danger">*</span></label>
                                            <select class="form-control" ng-model="ticketModel.Priority">
                                                <option value="">-- Select --</option>
                                                <option ng-repeat="caseseverity in caseseverities" value="{{ caseseverity.Value }}"> {{ caseseverity.Name }} </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="department">Contact Email<span class="text-danger">*</span></label>
                                            <input type="email" ng-model="ticketModel.ContactEmail" id="contactemail" class="form-control" name="Subject">
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="department">Department</label>
                <input type="text" ng-model="userCreateFormModel.Name" id="department" class="form-control" name="Department">
            </div>
        </div>
    </div>-->

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="Message">Message <span class="text-danger">*</span></label>
                                            <!--<input type="text" ng-model="userCreateFormModel.Message" id="department" class="form-control" name="Message">-->
                                            <textarea maxlength="500" ng-blur="setMessageBody()" rows="4" id="message" class="form-control" placeholder=""></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="department">Attachment</label>
                                            <input type="file" id="attachment" class="form-control" name="Attachment" onchange="angular.element(this).scope().attachmentFileHandler()">
                                            <div class="text-danger text-sm" id="attachmentUploadSizeIndicator"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <button ng-disabled="ticketModel.Subject === '' || ticketModel.Priority === '' || ticketModel.EmployeeEmail === '' || ticketModel.ContactEmail === ''"
                                                class="btn btn-primary mr-1 mb-1 waves-effect waves-light" ng-click="submitTicket()">
                                            Submit Ticket
                                        </button>
                                        <button type="reset" class="btn btn-outline-warning mr-1 mb-1 waves-effect waves-light">Reset</button>
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--/ Zero configuration table -->
